/* app css stylesheet */

body {
  padding-top: 20px;
}

.text-overflow {
  line-height: 1.5em;
  height: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1 {
  border-bottom: 1px solid gray;
}
