<div class="container">
	<form role="form" ng-submit="addFood()" novalidate>
		<table class="table">
			<td>
				<div class="form-group">
					Food Name: <input type="text" ng-model="food.name" required>
				</div>
			</td>
			<td>
				<div class="form-group">
					Food Type: 
					<select ng-model="food.type" required>
						<option value="grain">Grain</option>
						<option value="protein">Protein</option>
						<option value="vegetable">Vegetable</option>
						<option value="fruit">Fruit</option>
						<option value="legume">Legume</option>
						<option value="dairy">Dairy</option>
						<option value="protein">Meat</option>
						<option value="snack">Snack</option>
						<option value="beverage">Beverage</option>
					</select>
				</div>
			</td>
			<td>
				<div class="form-group">
					Quantity: 
					<input type="number" ng-model="food.quantity.numeric" required>
					<select ng-model="food.quantity.units" required>
						<option value="item">item(s)</option>
						<option value="pound">lbs.</option>
						<option value="ounce">oz.</option>
						<option value="gram">grams</option>
						<option value="fluid_ounce">fl. oz.</option>
						<option value="gallon">gallons</option>
						<option value="liter">liters</option>
					</select>
				</div>
			</td>
			<td>
				<input type="submit" class="btn btn-default" ng-disabled="fieldsIncorrect()" value="Add Food"></button>
			</td>
		</table>
		<pre ng-show="food.name || food.type || food.quantity">{{food.name}} {{food.type}} {{food.quantity.numeric}} {{food.quantity.units}}</pre>
	</form>

	<h4>Here's the current pantry:</h4>
	Search: <input ng-model="query" type="text">
	<div class="table-responsive">
		<table class="table table-striped table-bordered">
			<tr>
				<th><a href="" ng-click="category='name';reverse=!reverse">Food Name</a></th>
				<th><a href="" ng-click="category='type';reverse=!reverse">Type</a></th>
				<th><a href="" ng-click="category='quantity.numeric';reverse=!reverse">Quantity</a></th>
				<th></th>
				<th></th>
			</tr>
			<tr ng-repeat="f in foods | filter:query | orderBy:category:reverse">
				<td ng-hide="f.showEdit">{{f.name}}</td>
				<td ng-show="f.showEdit"><input type="text" value="f.name" ng-model="f.name"></td>
				<td ng-hide="f.showEdit">{{f.type}}</td>
				<td ng-show="f.showEdit">
					<select value="f.type" ng-model="f.type">
						<option value="grain">Grain</option>
						<option value="protein">Protein</option>
						<option value="vegetable">Vegetable</option>
						<option value="fruit">Fruit</option>
						<option value="legume">Legume</option>
						<option value="dairy">Dairy</option>
						<option value="protein">Meat</option>
						<option value="snack">Snack</option>
						<option value="beverage">Beverage</option>
					</select>
				</td>
				<td ng-hide="f.showEdit">{{f.quantity.numeric}} {{f.quantity.units}}</td>
				<td ng-show="f.showEdit">
					<input type="number" value="f.quantity.numeric" ng-model="f.quantity.numeric">
					<select value="f.quantity.units" ng-model="f.quantity.units">
						<option value="item">item(s)</option>
						<option value="pound">lbs.</option>
						<option value="ounce">oz.</option>
						<option value="gram">grams</option>
						<option value="fluid_ounce">fl. oz.</option>
						<option value="gallon">gallons</option>
						<option value="liter">liters</option>
					</select>
				</td>
				<td ng-hide="f.showEdit"><input type="submit" class="btn btn-default" ng-click="f.showEdit=true" value="edit"></td>
				<td ng-show="f.showEdit"><input type="submit" class="btn btn-default" ng-click="f.showEdit=false" value="save"></td>
				<td><input type="submit" class="btn btn-default" ng-click="removeFood(f)" value="remove"></td>
			</tr>
		</table>
	</div>
	<input type="submit" class="btn btn-default" ng-click="resetData()" value="Reset with Mock Data">
</div>