<div class="container">
	<h2>Welcome to the Food Tracker</h2>
	<p class="text-justify">This app is for the final project for CS-575 Software Design at Drexel University for the Fall 2014 Quarter. The purpose of the app is to be able to track the food you have in the pantry and to explore new recipes based on the current ingredients you have! The recipe finder will randomly for a new recipe for you and give you the results of the search. You can store your favorite recipes and create a new grocery list to get everything you need to make them.</p>
</div>