<div class="container">
	<h2>Welcome to the Food Tracker</h2>
	<p class="text-justify">This app is the final project for CS-575 Software Design at Drexel University in the Fall 2014 Quarter. The purpose of the app is to track the food you have in your pantry and to explore new recipes based on the your current ingredients! The recipe finder will randomly search for a new recipe for you and give you a preview, which you can save for later. You can also create a grocery list based on these recipes to help you purchase everything you need.</p>
</div>